.breadcrumb {
    /* margin-left: 2rem; */
    font-size: 0.8rem;
    background: none;
  }

  .fee-type {
    /* margin-left: 3rem; */
    font-size: 2rem;
    background: none;
    margin-top: -26px;
  }

  .bssearch {
      margin-left: 273px;
      margin-top: -61px;
  }

  .print {
    width: 40px;
    height: 40px;
    background-color: #5E5E5E;
    border-radius: 26px;
  }

  .bsprint {
    color: white;
    margin-top: 10px;
    margin-left: 12px;
  }

  .bsdownload {
    color: white;
    margin-top: 10px;
    margin-left: 12px;
  }

  .download {
    width: 40px;
    height: 40px;
    background-color: #5E5E5E;
    border-radius: 26px;
  }

  .plus {
    width: 114px;
    height: 36px;
    background-color: #F3C244;
    border-radius: 10px;
  }

  .bsplus {
    margin-left: 8px;
    margin-top: 6px;
  }

  .create {
    margin-top: -21px;
    margin-left: 25px;
  }

  .activee {
    height: 100px !important;
  }

  .status{
    margin-left: 27px;
    margin-top: 5px;
  }

  .card {
    margin-bottom: 20px;
  }